[submodule "PNI_anomaly_detection"]
	path = PNI_anomaly_detection
	url = https://github.com/wogur110/PNI_anomaly_detection
[submodule "PyramidFlow"]
	path = PyramidFlow
	url = https://github.com/gasharper/PyramidFlow
[submodule "MemSeg"]
	path = MemSeg
	url = https://github.com/TooTouch/MemSeg
